# Build Folders
bin/
obj/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Rider / JetBrains IDE files
.idea/
*.iml

# VS Code
.vscode/

# NuGet packages
*.nupkg
*.snupkg
packages/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db